# Node / PNPM
node_modules/
.pnpm-store/
pnpm-lock.yaml

# Build output
dist/
build/
.next/
coverage/
storybook-static/
playwright-report/
trace-results/
.turbo/

# Env
.env
.env.local
.env.production
.env.development

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Mac
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
